.header {
  background-color: $red;
  margin-bottom: 50px;
  .header__wrapper {
    display: grid;
    margin: 0 auto;
    padding: 5px 0px;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
    .header_column {
      i {
        color: white;
        font-size: 40px;
      }
      &:nth-child(2) {
        width: 100%;
        justify-self: center;
      }
      &:last-child {
        justify-self: end;
      }
      ul {
        display: flex;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        li:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
}
